.box{
  margin:75px auto;
  width:300px;
  background:lightcoral;
  padding-top:10px;
}
.background-btn {
  padding: 25px;
}
.img-photo{
  width:45px;
  height:45px;
  margin-left: 10px;
}
.header {
  height: 60px;
  background: lightgrey;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  margin-left: 15px;
  padding: 6px;
  cursor: pointer;
}
.sweet {
  color: deeppink;
  font-weight: 600;
  margin-top: 7px;
}
.cart-count {
  font-size: 15px;
  color: #d4570cf2;
  padding: 0 5px;
  margin-left: -35px;
  background: white;
  height: 20px;
  border-radius: 50%;
  width: 20px;
}
.cart-icon {
  line-height: 45px;
  font-size: 24px;
  color: #2aa5a0;
  cursor: pointer;
}
.login,
.register {
  font-weight: 600;
  margin-top: 10px;
  margin-left: 30px;
}
.footer {
  min-height: 60px;
  background: lightgrey;
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
}
.about-us {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
}
.fw-600 {
  font-weight: 600;
}
.register{
  margin-left: 20px;
}
.footer-div{
  margin-left: 20px;
}
.img-home{
  width: 300px;
  height:300px;
  border-radius: 15px;
}
.food-details-outer {
  flex-direction: column;
  height: 100vh;
}
.food-details {
  background: #efe9e2;
  flex: 1;
  overflow-y: auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height:100vh;
}
.content{
  background:#efe9e2;
  flex: 1;
  overflow-y: auto;
}
.d-blue{
  color: dodgerblue;
}
.black{
  color: black;
}
.pointer{
  cursor: pointer
}
.cart-outer-div {
  flex-direction: column;
  height: 100vh;
}
.cart-body {
  background: #efe9e2;
  flex: 1;
  overflow-y: auto;
}
.cart-quantity {
  display: inline-block;
  padding: 3px 6px;
  width: 46px;
  height: 28px;
  border-radius: 2px;
  background-color: #fff;
  margin: 0 5px;
  text-align: center;
}
.cart-items {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
}
.my-cart {
  color: orange;
  font-weight: 600;
}
input[type="text"] {
  border: none;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  outline: none;
}
.fw-600 {
  font-weight: 600;
}
.line {
  height: 1px;
  border-bottom: 1px solid black;
}
.w-120 {
  width: 120%;
}
.w-60 {
  width: 60%;
}
.add,
.remove {
  width: 28px;
  height: 28px;
  background: linear-gradient(#fff, #f9f9f9);
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  border-radius: 7px;
  padding-top: 1px;
  outline: none;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.orange-red {
  color: orangered;
}
.darkblue {
  color: darkblue;
}
.line{
  height: 1px;
  border-bottom: 1px solid black;

}
.w-120{
  width:120%;
}
.w-60{
  width:60%
}