.box{
  margin:75px auto;
  width:300px;
  background:lightcoral;
  padding-top:10px;
}
.background-btn {
  padding: 25px;
}
.img-photo{
  width:45px;
  height:45px;
  margin-left: 10px;
}
.header {
  height: 60px;
  background: lightgrey;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  margin-left: 15px;
  padding: 6px;
  cursor: pointer;
}
.sweet {
  color: deeppink;
  font-weight: 600;
  margin-top: 7px;
}
.cart-count {
  font-size: 15px;
  color: #d4570cf2;
  padding: 0 5px;
  margin-left: -35px;
  background: white;
  height: 20px;
  border-radius: 50%;
  width: 20px;
}
.cart-icon {
  line-height: 45px;
  font-size: 24px;
  color: #2aa5a0;
  cursor: pointer;
}
.login,
.register {
  font-weight: 600;
  margin-top: 10px;
  margin-left: 30px;
}
.footer {
  min-height: 60px;
  background: lightgrey;
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
}
.about-us {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
}
.fw-600 {
  font-weight: 600;
}
.register{
  margin-left: 20px;
}
.footer-div{
  margin-left: 20px;
}
.img-home{
  width: 300px;
  height:300px;
  border-radius: 15px;
}
.food-details-outer {
  flex-direction: column;
  height: 100vh;
}
.food-details {
  background: #efe9e2;
  flex: 1;
  overflow-y: auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height:100vh;
}
.content{
  background:#efe9e2;
  flex: 1;
  overflow-y: auto;
}
.d-blue{
  color: dodgerblue;
}
.black{
  color: black;
}
.pointer{
  cursor: pointer
}